<div class="bg-info contact4 overflow-hiddedn position-relative">
  <!-- Row  -->
  <div class="row no-gutters">
    <div class="container">
      <div class="col-lg-6 contact-box mb-4 mb-md-0">
        <div class="">
          <h1 class="title font-weight-light text-white mt-2">Contact Us</h1>
          <form class="mt-3">
            <div class="row">
              <div class="col-lg-12">
                <div class="form-group mt-2">
                  <input
                    class="form-control text-white"
                    type="text"
                    placeholder="name"
                  />
                </div>
              </div>
              <div class="col-lg-12">
                <div class="form-group mt-2">
                  <input
                    class="form-control text-white"
                    type="email"
                    placeholder="email address"
                  />
                </div>
              </div>
              <div class="col-lg-12">
                <div class="form-group mt-2">
                  <textarea
                    class="form-control text-white"
                    rows="3"
                    placeholder="message"
                  ></textarea>
                </div>
              </div>
              <div class="col-lg-12 d-flex align-items-center mt-2">
                <button
                  type="submit"
                  class="btn bg-white text-inverse px-3 py-2"
                >
                  <span> Submit</span>
                </button>
                <span class="ml-auto text-white align-self-center"
                  ><i class="icon-phone mr-2"></i>+91 9902121176</span
                >
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
    <div class="col-lg-6 right-image p-r-0">
      <iframe
        src="https://www.google.com/maps?q=mphasis+pune+address&hl=en&sxsrf=ALiCzsbBfDul6k3myl-CsuTHosdv8MensQ:1666010559604&iflsig=AJiK0e8AAAAAY01bz-8wycnpv4Es57hFnowHyWmfz1Hw&gs_lcp=Cgdnd3Mtd2l6EAMYADIECCMQJzIECCMQJzIQCAAQgAQQhwIQsQMQgwEQFDIECAAQQzILCAAQgAQQsQMQgwEyDQgAEIAEEIcCELEDEBQyCggAELEDEIMBEEMyEQguEIAEELEDEIMBEMcBEK8BMg4ILhCxAxCDARDHARDRAzIFCAAQgAQ6CgguEMcBENEDECc6CggAEIAEEIcCEBQ6CAgAEIAEELEDOgoILhDHARCvARBDUERYpg9gsipoAHAAeACAAckNiAGHLJIBCzMtMS42LTQuMC4xmAEAoAEB&um=1&ie=UTF-8&sa=X&ved=2ahUKEwiMo4qBpef6AhX58jgGHRuoAcMQ_AUoAnoECAEQBA"
        width="100%"
        height="538"
        frameborder="0"
        style="border: 0"
        allowfullscreen
        data-aos="fade-left"
        data-aos-duration="3000"
      ></iframe>
    </div>
  </div>
</div>
